@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h3qn5');
  src:  url('fonts/icomoon.eot?h3qn5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h3qn5') format('truetype'),
    url('fonts/icomoon.woff?h3qn5') format('woff'),
    url('fonts/icomoon.svg?h3qn5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

header .navbar {
  display: none;
}

header .navbar-mobile {
  position: absolute;
  display: block !important;
  top: 50%;
  right: 80px;
  transform: translateY(-50%);
  line-height: 60px;
  text-align: center;
  font-family: 'icomoon';
  font-size: 50px;
  cursor: pointer;
}

/* navbar-mobile-wrap */
.navbar-mobile-wrap {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  background-color: rgb(82, 81, 81);
  opacity: .7;
}

.navbar-mobile-wrap .navbar-item-mobile {
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}

.navbar-mobile-wrap .navbar-item-mobile a {
  display: inline-block;
  width: 100%;
  height: 100%;
}


/* container */
body .container {
  width: 650px;
}
body .container .title {
  width: 100%;
  padding-right: 150px;
  font-size: 35px;
}
body .container .title .animation-font {
  right: 85px;
}
body .container .title .animation-font .slide-item {
  font-size: 35px;
}
body .container .content {
  display: inline-block;
  width: 100%;
}


/* block */
.current {
  display: block !important;
}