@import "animation.css";
* {
  box-sizing: border-box;
}
* a:hover {
  text-decoration: none;
}
body {
  position: relative;
  max-width: 1440px;
  min-width: 375px;
  background: url(../img/background.png) no-repeat center center;
  background-size: cover;
  color: #fff;
}
body .wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  z-index: -1;
}
body header {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 0 80px;
  color: #fff;
}
body header .logo {
  float: left;
  width: 300px;
  height: 80px;
  margin-top: 10px;
}
body header .logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
body header .logo a img {
  width: 100%;
  height: 100%;
}
body header .navbar {
  float: right;
  height: 100%;
}
body header .navbar .navbar-item {
  display: inline-block;
  height: 100%;
  margin-right: 25px ;
  line-height: 100px;
  font-size: 20px;
}
body header .navbar .navbar-item a:hover {
  text-decoration: none;
  color: #b4b0b0;
}
body header .navbar-mobile {
  display: none;
  width: 60px;
  height: 60px;
}
body header .navbar-mobile .navbar-item-mobile {
  display: none;
}
body .navbar-mobile-wrap {
  display: none;
}
body .container {
  width: 850px;
  margin: 200px auto;
  text-align: center;
}
body .container .title {
  position: relative;
  width: 800px;
  height: 60px;
  font-size: 50px;
  font-weight: 700;
  overflow: hidden;
}
body .container .title .animation-font {
  color: #ffff00;
  position: absolute;
  top: 0;
  right: 0px;
  height: 180px;
  animation: slide 6s steps(3) infinite;
}
body .container .title .animation-font .slide-item {
  display: block;
  font-size: 50px;
  height: 60px;
  text-align: left;
}
body .container .content {
  margin-top: 20px;
  font-size: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
body .container .more {
  display: inline-block;
  width: 250px;
  height: 50px;
  margin-top: 30px;
  line-height: 10px;
  border: 1px solid #ffff00;
}
body .container .more a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 50px;
}
body .container .more a:hover .line {
  width: 100%;
  background-color: #ffff00;
}
body .container .more a:hover {
  color: #000;
}
body .container .more a .line {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: -1;
  transition: all 0.5s;
}
